.header{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/images/header-image.png);
    background-size: cover;
    background-position:center;
    padding: 10px 8%;
    position:relative;
}

.header-content{
    transform: translate(-50%, -50%)
}


.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-weight: 500;
    font-size: 18px;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;

}

input[type="radio"]{
    display: none;
}

.accordion .content {
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s ;
}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}

.footer .col{
    margin-bottom: 20px;
}

.footer .col a{
    display: block;
    text-decoration: none;
}

@media (max-width:400px) {
#diff{
    right: 15px;

}

#btnwrap{
    flex:wrap;
}

.accordion p {
    font-size: 14px;

}

.accordion li label{
    font-size: 15px;
    padding: 12px;
}


}

@media (max-width:767px) {
    #diff{

        position: absolute;
        align-self: end;
        padding: 0 20%;
    }
    
}

@media (max-width:600px) {
    #diff {

        padding: 0 5%;
    }

}

